*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Nunito', sans-serif;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

.container {
  margin: 0 auto;
  max-width: 980px;
}

.block__style {
  -webkit-box-shadow: 0px 1px 4px rgba(27, 80, 115, 0.13);
          box-shadow: 0px 1px 4px rgba(27, 80, 115, 0.13);
  border-radius: 9px;
}

.content {
  padding: 30px;
  position: relative;
  min-height: 475px;
}

.bookmarks {
  margin-top: 30px;
  min-height: 530px;
}

.bookmarks__label {
  margin-right: 30px;
  cursor: pointer;
  position: relative;
  padding: 19px 0 19px 0;
  margin-left: 30px;
}

.bookmarks__label:last-child {
  margin-right: 0;
}

.bookmarks__radio {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}

.bookmarks__content {
  display: none;
}

.controls {
  border-bottom: 2px solid #EAEAEA;
  padding: 19px 30px;
}

#all:checked ~ .controls label[for="all"], #people:checked ~ .controls label[for="people"], #events:checked ~ .controls label[for="events"] {
  font-weight: 600;
}

#all:checked ~ .controls label[for="all"]::after, #people:checked ~ .controls label[for="people"]::after, #events:checked ~ .controls label[for="events"]::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border-radius: 4px;
  border-bottom: 2px solid #51A2F2;
}

#all:checked ~ .content .bookmarks__content:nth-child(1) {
  display: block;
}

#people:checked ~ .content .bookmarks__content:nth-child(2) {
  display: block;
}

#events:checked ~ .content .bookmarks__content:nth-child(3) {
  display: block;
}

.all {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.all p {
  margin: 0;
}

.all__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #222222;
}

.people__content {
  display: -ms-grid;
  display: grid;
  grid-gap: 30px;
  justify-items: center;
  -ms-grid-columns: (minmax(155px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(155px, 1fr));
}

.people__item {
  max-width: 160px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: .3s;
  transition: .3s;
}

.people__image {
  position: relative;
  margin-bottom: 10px;
  max-width: 160px;
  width: 100%;
}

.people__image:hover .additional__block {
  opacity: 1;
  pointer-events: all;
}

.people__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #222222;
}

.bookmark__delete:hover .delete__user,
.bookmark__delete:hover .delete__event {
  opacity: 1;
  pointer-events: all;
  transform: translateY(5px);
  -webkit-transform: translateY(5px);
  -moz-transform: translateY(5px);
  -ms-transform: translateY(5px);
  -o-transform: translateY(5px);
}

.delete__user {
  padding: 0;
  opacity: 0;
  pointer-events: none;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  position: absolute;
  width: 28px;
  height: 28px;
  right: 20px;
  top: 0;
  border: none;
  cursor: pointer;
  background: #707070;
  border-radius: 50%;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.delete__user img {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.delete__user:focus {
  outline: 1px solid #51A2F2;
}

.delete__event {
  padding: 0;
  opacity: 0;
  pointer-events: none;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  position: absolute;
  width: 28px;
  height: 28px;
  right: -13px;
  top: -20px;
  z-index: 10;
  border: none;
  cursor: pointer;
  background: #707070;
  border-radius: 50%;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.delete__event img {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.delete__event:focus {
  outline: 1px solid #51A2F2;
}

.additional__block {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  left: 50%;
  z-index: 5;
  bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  transition: .3s;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}

.actions {
  margin-right: 10px;
  position: relative;
  padding: 10px;
  width: 36px;
  height: 36px;
  border: none;
  cursor: pointer;
  transition: .3s;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}

.actions:last-child {
  margin-right: 0;
}

.actions:focus {
  outline: 1px solid #51A2F2;
}

.message {
  background: #51A2F2;
}

.message:hover {
  background: #468ed6;
}

.append {
  background: linear-gradient(68.42deg, #50F2C4 0%, #26D0E3 39.67%, #757AFF 100%);
}

.append:hover {
  background: linear-gradient(68.42deg, #757AFF 0%, #26D0E3 39.67%, #50F2C4 100%);
}

.events__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #222222;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid {
  display: -ms-grid;
  display: grid;
  grid-gap: 30px;
  -ms-grid-column-align: center;
      justify-self: center;
}

.grid__events {
  -ms-grid-columns: (minmax(155px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(155px, 1fr));
}

.events__card {
  position: relative;
  width: 100%;
  max-width: 160px;
}

.events__card-image {
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.events__card-image .poster {
  -webkit-transition: .3s;
  transition: .3s;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.events__card-image .poster:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.event__content-link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.event__content {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  z-index: 1;
  pointer-events: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start !important;
      -ms-flex-align: start !important;
          align-items: flex-start !important;
}

.event__content-top {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.event__content-text {
  color: #222222;
  width: 155px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.event__users-img {
  margin-right: 5px;
}

.event__users span {
  color: #FFFFFF;
  max-width: 58px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.tikets__price-text {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 600;
  line-height: 15px;
}
/*# sourceMappingURL=bookmarks.css.map */